.o_home_menu_background {
    background-color: #77717e !important;
    background-image: url(/es_core/static/src/img/map-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
